.rightBar{
	flex: 3.5;
}
.rightbarWrapper{
	margin: 20px 20px 0 0;
}
.birthdayContainer{
	display: flex;
	align-items: center;
}
.birthdayImg{
	width: 40px;
	height: 40px;
	margin-right: 10px;
}
.birthdayReminder{
	font-size: 14px;
}
.rightbarAd{
	width: 100%;
	border-radius: 10px;
	margin: 30px 0;
}
.onlineTitle{
	margin-bottom: 20px;
}
.onlineFriendsList{
	margin: 0;
	padding: 0;
	list-style: none;
}
.onlineFriendsItem{
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}
.rightbarOnlineContainer{
	margin-right: 10px; 
	position: relative;
}
.rightbarOnlineImg{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	
}
.onlineBadge{
	width: 12px; 
	height: 12px;
	border-radius: 50%;
	border: 2px solid white;
	background-color: limegreen;
	position: absolute;
	top: 0px;
	right: -5px;
}
.rightbarOnlineFriendName{
	font-weight: 500;
}












