.rightBar{
	flex: 3.5;
}
.rightbarWrapper{
	margin: 20px 20px 0 0;
}
.birthdayContainer{
	display: flex;
	align-items: center;
}
.birthdayImg{
	width: 40px;
	height: 40px;
}
.birthdayReminder{
	font-size: 14px;
}













